{% extends 'base.html' %}

{% block content %}

<h1 class="main-title text-center mb-4">

    {{ subject }} Test

</h1>

<form method="POST"
      action="/submittest/">

    {% csrf_token %}

    <input type="hidden"
           name="subject"
           value="{{ subject }}">

    {% for q in questions %}

    <div class="card shadow border-0 mb-4">

        <div class="card-body p-4">

            <h5 class="fw-bold mb-4">

                Q{{ forloop.counter }}.
                {{ q.qtext }}

            </h5>

            <input type="hidden"
                   name="qno"
                   value="{{ q.qno }}">

            <div class="form-check mb-2">

                <input class="form-check-input"
                       type="radio"
                       name="{{ q.qno }}"
                       value="{{ q.op1 }}">

                <label class="form-check-label">

                    {{ q.op1 }}

                </label>

            </div>

            <div class="form-check mb-2">

                <input class="form-check-input"
                       type="radio"
                       name="{{ q.qno }}"
                       value="{{ q.op2 }}">

                <label class="form-check-label">

                    {{ q.op2 }}

                </label>

            </div>

            <div class="form-check mb-2">

                <input class="form-check-input"
                       type="radio"
                       name="{{ q.qno }}"
                       value="{{ q.op3 }}">

                <label class="form-check-label">

                    {{ q.op3 }}

                </label>

            </div>

            <div class="form-check mb-2">

                <input class="form-check-input"
                       type="radio"
                       name="{{ q.qno }}"
                       value="{{ q.op4 }}">

                <label class="form-check-label">

                    {{ q.op4 }}

                </label>

            </div>

        </div>

    </div>

    {% endfor %}

    <button type="submit"
            class="btn btn-success btn-custom w-100">

        Submit Test

    </button>

</form>

{% endblock %}