{% extends 'base.html' %}

{% block content %}

<h1 class="main-title text-center mb-4">

    Create User

</h1>

{% if error %}

<div class="alert alert-danger">

    {{ error }}

</div>

{% endif %}

<form method="POST">

    {% csrf_token %}

    <input type="text"
           name="username"
           placeholder="Enter Username"
           class="form-control mb-3 p-3"
           required>

    <input type="password"
           name="password"
           placeholder="Password (7-12 Characters)"
           class="form-control mb-3 p-3"
           minlength="7"
           maxlength="12"
           required>

    <input type="text"
           name="mobile_no"
           placeholder="Enter 10 Digit Mobile Number"
           class="form-control mb-4 p-3"
           maxlength="10"
           pattern="[0-9]{10}"
           required>

    <button type="submit"
            class="btn btn-success btn-custom w-100">

        Save User

    </button>

</form>

{% endblock %}